body {
  font-family: Helvetica, "Trebuchet MS", sans-serif;
  text-align: center;
}

section {
  padding: 30px;
  color: #fff;
  background-color: #779ECB;
}

section input[type=text] {
  color: #000;
  text-align: center;
  border: 6px solid white;
  padding: 12px;

  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);

  background: rgba(255,255,255,0.8);
}

section #squareResult {
  font-size: 200%;
}
